body {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  border: solid 2px white;
  width: 700px;
  height: 300px;
  padding: 5px 20px;
  background-color: #DAEFF0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  box-shadow: 5px 10px gainsboro;
}

.product {
  font-weight: bolder;
  font-size: 2em;
}

.price {
  font-size: 20px;
}

.sizeArea {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.sizeButton {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.sizeButton:active{
  background-color: #798B8C;

}

.sizeButton:hover,
.addBtn:hover,
.remove:hover,
.clear:hover,
.more:hover,
.cart:hover {
  opacity: 0.7;
}

.bottom {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  width: 45px;
  margin-bottom: 5px;
  margin-left: 10px;
}

ul{
  list-style: none;
}

.addBtn {
  color: black;
  background-color: #FCAF8C;
  padding: 8px 10px;
  border-radius: 3px;
  width: 150px;
}

.Top {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  height: 70px;
  
  margin: auto;
}

.title{
  text-decoration: none;
  padding-top: 5px;
  color: black;
  text-decoration-line:
}

table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 500px;
  margin: auto;
  margin-top: 15px;
  background-color: #DAEFF0;
  line-height: normal;
  border-radius: 10px;
}

th{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  
}

.total {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  align-items: center;
}

.totalPrice {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  margin-top: 10px;
  font-size: 2rem;
}


td,tr {
  text-align: center;
  padding: 10px;
}

.clear {
  width: 250px;
  margin: auto;
  padding: 8px 20px;
  background-color: #88959d;
  border-radius: 3px;
  border: none;
}

.remove {
  background-color: #88959d;
  color: black;
  padding: 5px 8px;
  border-radius: 3px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.more {
  width: 250px;
  margin: 10px auto;
  padding: 8px 20px;
  background-color: #FCAF8C;
  border-radius: 3px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.noItem {
  text-align: center;
  margin-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-decoration: none;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 20px 25px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  height: 20px;
}

.notification .badge {
  position: absolute;
  top: 1px;
  right: -235px;
  padding: 5px 10px;
  border-radius: 50%;
  background: gray;
  color: white;
}

.cart {
  font-size: 20px;
  position: absolute;
  margin-left: 305px;
  top: 19px;
}

.badge {
  font-size: 20px;
}

.buy{
  font-size: larger;
  border: none;
  background-color: #88959d;
  padding: 10px 30px;
  border-radius: 15px;
}


